@model Administrator

@{
    ViewBag.Title = "Create Administrator";
    Layout = "~/Areas/L0C5A3E8915871B710C2CC98073748424/Views/Shared/_Layout.cshtml";

}

@section JavaScript{
    <script type="text/javascript">$(document).ready(function () { WebApp.Core.HighlightCurrentMenuItem('Administrators') });</script>
}

<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><span class="text-semibold">Create Administrator</span></h4>
        </div>
        <div class="heading-elements">
            <div class="heading-btn-group">
                <a class="btn btn-link btn-float has-text" href="/L0C5A3E8915871B710C2CC98073748424/administrators"><i class="icon-user"></i><span>All Administrators</span></a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="/L0C5A3E8915871B710C2CC98073748424/default/dashboard"><i class="icon-home4 position-left"></i>Dashboard</a></li>
            <li><a href="/L0C5A3E8915871B710C2CC98073748424/administrators"> Administrators</a></li>
            <li class="active">Create  Administrator</li>
        </ul>
    </div>
</div>
<div class="content">
    <form method="post" class="form-horizontal" action="" enctype="multipart/form-data" autocomplete="off">
        <div class="panel panel-flat">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                       
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.Name):</label>
                            <div class="col-lg-7">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "Please enter the Name", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.Email):</label>
                            <div class="col-lg-7">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Please enter the Email", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.Password):</label>
                            <div class="col-lg-7">
                                <input name="Password" type="password" placeholder="Password" class="form-control" data-val="true" data-val-required="The Password field is required.">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>                       
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.ConfirmPassword):</label>
                            <div class="col-lg-7">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @placeholder = "Please enter the Confirm Password", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.Phone):</label>
                            <div class="col-lg-7">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @placeholder = "Please enter the Phone", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                      
                    </div>
                </div>
                <hr>
                <div class="text-right">
                    <a href="/L0C5A3E8915871B710C2CC98073748424/administrators/create" class="btn btn-default">Reset<i class="icon-reload-alt position-right"></i> </a>
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>