@model Seratio.Platform.ICO.Models.Wallet

@{
    ViewBag.Title = "Edit Wallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript{
    <script type="text/javascript">$(document).ready(function () { WebApp.Core.HighlightCurrentMenuItem('Wallets') });</script>
}


<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><span class="text-semibold">Edit Wallet</span></h4>
        </div>
        <div class="heading-elements">
            <div class="heading-btn-group">
                <a class="btn btn-link btn-float has-text" href="/wallets"><i class="icon-bag"></i><span>All Wallets</span></a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="/L0C5A3E8915871B710C2CC98073748424/default/dashboard"><i class="icon-home4 position-left"></i>Dashboard</a></li>
            <li><a href="/wallets"> Wallets</a></li>
            <li class="active">Edit Wallet</li>
        </ul>
    </div>
</div>
<div class="content">
    <form method="post" class="form-horizontal" action="" enctype="multipart/form-data" autocomplete="off">
        <div class="panel panel-flat">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.UserID):</label>
                            <div class="col-lg-7">
                                @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @placeholder="Please enter the UserID", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.CreatedByID):</label>
                            <div class="col-lg-7">
                                @Html.EditorFor(model => model.CreatedByID, new { htmlAttributes = new { @placeholder="Please enter the CreatedByID", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CreatedByID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.Address):</label>
                            <div class="col-lg-7">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @placeholder="Please enter the Address", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.WalletFile):</label>
                            <div class="col-lg-7">
                                @Html.EditorFor(model => model.WalletFile, new { htmlAttributes = new { @placeholder="Please enter the WalletFile", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.WalletFile, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.WalletHTMLFile):</label>
                            <div class="col-lg-7">
                                @Html.EditorFor(model => model.WalletHTMLFile, new { htmlAttributes = new { @placeholder="Please enter the WalletHTMLFile", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.WalletHTMLFile, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">@Html.DisplayNameFor(model => model.WalletImageFile):</label>
                            <div class="col-lg-7">
                                @Html.EditorFor(model => model.WalletImageFile, new { htmlAttributes = new { @placeholder="Please enter the WalletImageFile", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.WalletImageFile, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="text-right">
                    <a href="/L0C5A3E8915871B710C2CC98073748424/wallets/edit/@Model.ID" class="btn btn-default">Reset<i class="icon-reload-alt position-right"></i> </a>
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>