@using Seratio.Blockchain.Sandbox.Core
@model  Seratio.Blockchain.Sandbox.Models.RetailPolicy
@{
    ViewBag.Title = "Policy Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavaScript{
    <script type="text/javascript">$(document).ready(function () { WebApp.Core.HighlightCurrentMenuItem('Manage Policy') });</script>
}

@{
    string _daterange = Request.QueryString["daterange"];
    {
        if (_daterange == null)
        {
            _daterange = (!string.IsNullOrEmpty(Request.QueryString["start"]) ? Request.QueryString["start"] + " - " : "") + (!string.IsNullOrEmpty(Request.QueryString["end"]) ? Request.QueryString["end"] : "");
        }
    }
}

@section Breadcrumbs{
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/wallet/default/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/wallet/retailend/retailpolicies">Policies</a></li>

        <li class="breadcrumb-item"><span>Policy Details</span></li>
    </ul>
}




<div class="content-box">
    <div class="row">
        <div class="col-lg-12">
            <div class="element-wrapper">
                <div class="element-box">
                    <h5 class="element-header">Policy Details</h5>

                    <div class="heading-elements">
                        @*      <a href="/rewardingbody/socialactivities"><i class="fa fa-backward"></i><span>Back to Social Acticities</span></a>*@
                    </div>
                    <div class="heading-elements">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main">
                                <table class="table table-lightborder">
                                    <tbody>
                                        <tr>
                                            <td style="width: 20%;">Name</td>
                                            <td style="width: 10%;">:</td>
                                            <td style="width: 70%;"> @Model.Name</td>
                                        </tr>



                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.PolicyType)</td>
                                            <td>:</td>
                                            <td>@Model.PolicyType</td>
                                        </tr>


                                        @if (Model.PolicyType == "SE")
                                        {
                                            <tr>
                                                <td>@Html.DisplayNameFor(model => model.MinSESCore)</td>
                                                <td>:</td>
                                                <td>@Model.MinSESCore</td>
                                            </tr>
                                            <tr>
                                                <td>@Html.DisplayNameFor(model => model.MaxSEScore)</td>
                                                <td>:</td>
                                                <td>@Model.MaxSEScore</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>@Html.DisplayNameFor(model => model.RequiredCoinID)</td>
                                                <td>:</td>
                                                <td>@(Model.RequiredCoinID != null ? Model.Coin.Name : null) </td>
                                            </tr>
                                            <tr>
                                                <td>@Html.DisplayNameFor(model => model.RequiredCoinQty)</td>
                                                <td>:</td>
                                                <td>@Model.RequiredCoinQty</td>
                                            </tr>
                                        }

                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.DiscountMode)</td>
                                            <td>:</td>
                                            <td>@Model.DiscountMode</td>
                                        </tr>

                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.DiscountValue)</td>
                                            <td>:</td>
                                            <td>@Model.DiscountValue</td>
                                        </tr>

                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.Category)</td>
                                            <td>:</td>
                                            <td>@Model.Category</td>
                                        </tr>

                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.Description)</td>
                                            <td>:</td>
                                            <td> @(Html.Raw(Model.Description != null ? Model.Description.Replace("\r\n", "</br>") : ""))</td>
                                        </tr>



                                        <tr>
                                            <td>Status</td>
                                            <td>:</td>
                                            @{

                                                switch (Model.IsApproved)
                                                {
                                                    case null:
                                                        <td><span class="label label-primary">Pending</span></td>
                                                        break;
                                                    case false:
                                                        <td><span class="label label-danger">Rejected</span></td>
                                                        break;
                                                    case true:
                                                        <td><span class="label label-success">Approved</span></td>
                                                        break;
                                                }
                                            }
                                        </tr>

                                        @{
                                            if (Model.IsApproved == true)
                                            {
                                                if (Model.IsApproved == true)
                                                {
                                                    <tr>
                                                        <td>Approved On</td>
                                                        <td>:</td>
                                                        <td>@Model.ApprovedOn.ToString()</td>
                                                    </tr>

                                                    <tr>
                                                        <td style="width: 20%;">Processed By</td>
                                                        <td style="width: 10%;">:</td>
                                                        <td style="width: 70%;">Administrator</td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td>Rejected On</td>
                                                        <td>:</td>
                                                        <td>@Model.RejectedOn.ToString()</td>
                                                    </tr>

                                                    <tr>
                                                        <td style="width: 20%;">Processed By</td>
                                                        <td style="width: 10%;">:</td>
                                                        <td style="width: 70%;"> Administrator</td>
                                                    </tr>
                                                }
                                            }


                                        }
                                        <tr>
                                            <td style="width: 20%;">Retail End</td>
                                            <td style="width: 10%;">:</td>
                                            <td style="width: 70%;"> @(Model.User.NickName != null ? Model.User.NickName : Model.User.Email)</td>
                                        </tr>




                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    @{
                        if (Model.IsApproved == null && AppManager.User.IsSuperAdmin)
                        {
                            <hr />
                            <div class="text-center">
                                <a href="/wallet/admin/retailpolicies/approve/@Model.ID" class="btn btn-primary confirm mr5" data-confirm="Are you sure you want to approve this Request?">Approve <i class="fa fa-thumbs-up"></i> </a>
                                <a href="/wallet/admin/retailpolicies/reject/@Model.ID" class="btn btn-danger confirm mr5" data-confirm="Are you sure you want to reject this Request?">Reject <i class="fa fa-thumbs-down"></i> </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
