@model User
@{
    ViewBag.Title = "Change Credentials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavaScript{
    <script type="text/javascript">$(document).ready(function () { WebApp.Core.HighlightCurrentMenuItem('Users') });</script>
}
@section Breadcrumbs{
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/wallet/default/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><span>Change Credentials</span></li>
    </ul>
}
@{
    User user = AppManager.db.Users.FirstOrDefault(u => u.ID == AppManager.User.ID);
}

<div class="content-box">
    <div class="row">
        <div class="col-lg-12">
            <div class="element-wrapper">
                <div class="element-box">
                    <h5 class="element-header">Change Credentials</h5>
                    <div class="form-group">
                        <label for="">Current Safety Question :</label>
                        <input name="question" type="text" placeholder="Please enter the Password" class="form-control" readonly="readonly" value="@ViewBag.question">
                    </div>

                    <div class="form-group">
                        <label for="">Current Safety Answer :</label>
                        <input name="currentanswer" id="currentanswer" type="text" placeholder="Please enter the answer" class="form-control" data-val="true" data-val-required="Please enter the current safety answer.">
                        @Html.ValidationMessage("currentanswer", new { @class = "text-danger" })
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 1.5rem;">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#changepassword" role="tab" data-toggle="tab">Seratio Platform Account</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#changeSaftyQuestion" role="tab" data-toggle="tab">Safety Question</a>
                                </li>
                                @{
                                    if (string.IsNullOrEmpty(user.WalletAddress))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" href="#walletpassword" role="tab" data-toggle="tab">Seratio Wallet</a>
                                        </li>
                                    }
                                }
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="changepassword">

                                    <form method="post" class="form-horizontal" action="changepassword" enctype="multipart/form-data">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" class="answer" name="answer" />
                                        <div class="form-group">
                                            <label for="">Password :</label>
                                            <input name="Password" type="password" placeholder="Please enter the Password" class="form-control" data-val="true" data-val-required="Please enter a value for Password." required="required">
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="">Confirm Password :</label>
                                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @placeholder = "Please enter the Confirm Password", @class = "form-control", @required = "required", @data_val = "true", @data_val_required = "Please enter a value for  Confirm Password." } })
                                            @Html.ValidationMessage("ConfirmPassword", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-buttons-w text-right">
                                            <a href="/wallet/users/changecredential" class="btn btn-default">Reset</a>
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="changeSaftyQuestion">
                                    <form method="post" class="form-horizontal" action="ChangeSafetyQuestion" enctype="multipart/form-data">
                                        <input type="hidden" class="answer" name="answer" />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <label>@Html.DisplayNameFor(model => model.SaftyQuestion):</label>
                                            <select class="form-control select" id="SaftyQuestion" name="SaftyQuestion" data-val="true" data-val-required="Please select a question for safety.">
                                                <option value="">Please Select the Question</option>
                                                <option value="What was your childhood nickname?">What was your childhood nickname?</option>
                                                <option value="In what city did you meet your spouse/significant other?">In what city did you meet your spouse/significant other?</option>
                                                <option value="What street did you live on in third grade?">What is the name of your favorite childhood friend?</option>
                                                <option value="What is your oldest sibling’s birthday month and year?">What is your oldest sibling’s birthday month and year? (e.g., January 1900)</option>
                                                <option value="What is the middle name of your oldest child?">What is the middle name of your oldest child?</option>
                                                <option value="What is your oldest sibling's middle name?">What is your oldest sibling's middle name?</option>
                                                <option value="What school did you attend for sixth grade?">What school did you attend for sixth grade?</option>
                                                <option value="What was your childhood phone number including area code?">What was your childhood phone number including area code? (e.g., 000-000-0000)</option>
                                                <option value="What is your oldest cousin's first and last name?">What is your oldest cousin's first and last name?</option>
                                                <option value="What was the name of your first stuffed animal?">What was the name of your first stuffed animal?</option>
                                                <option value="In what city or town did your mother and father meet?">In what city or town did your mother and father meet?</option>
                                                <option value="Where were you when you had your first kiss?">Where were you when you had your first kiss?</option>
                                                <option value="What is the first name of the boy or girl that you first kissed?">What is the first name of the boy or girl that you first kissed?</option>
                                                <option value="What was the last name of your third grade teacher?">What was the last name of your third grade teacher?</option>
                                                <option value="In what city does your nearest sibling live?">In what city does your nearest sibling live?</option>
                                                <option value="What is your oldest brother’s birthday month and year?">What is your oldest brother’s birthday month and year? (e.g., January 1900)</option>
                                                <option value="What is your maternal grandmother's maiden name?">What is your maternal grandmother's maiden name?</option>
                                                <option value="In what city or town was your first job?">In what city or town was your first job?</option>
                                                <option value="What is the name of the place your wedding reception was held?">What is the name of the place your wedding reception was held?</option>
                                                <option value="What is the name of a college you applied to but didn't attend?">What is the name of a college you applied to but didn't attend?</option>
                                                <option value="Where were you when you first heard about 9/11?">Where were you when you first heard about 9/11?</option>
                                            </select>
                                            @Html.ValidationMessage("SaftyQuestion", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label>@Html.DisplayNameFor(model => model.Answer):</label>
                                            @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @placeholder = "Please enter the Security Answer", @class = "form-control", @data_val = "true", @data_val_required = "Please select a answer for safety." } })
                                            @Html.ValidationMessage("Answer", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-buttons-w text-right">
                                            <a href="/wallet/users/changecredential" class="btn btn-default">Reset</a>
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                @{
                                    if (string.IsNullOrEmpty(user.WalletAddress))
                                    {
                                        <div role="tabpanel" class="tab-pane fade in" id="walletpassword">
                                            <form method="post" class="form-horizontal" action="createwallet" enctype="multipart/form-data">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" class="answer" name="answer" />
                                                <div class="form-group">
                                                    <label for="">Password :</label>
                                                    <input name="Password" type="password" placeholder="Please enter the Password" class="form-control" data-val="true" data-val-required="Please enter a value for Password." required="required">
                                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Confirm Password :</label>
                                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @placeholder = "Please enter the Confirm Password", @class = "form-control", @required = "required", @data_val = "true", @data_val_required = "Please enter a value for  Confirm Password." } })
                                                    @Html.ValidationMessage("ConfirmPassword", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-buttons-w text-right">
                                                    <a href="/wallet/users/changecredential" class="btn btn-default">Reset</a>
                                                    <button class="btn btn-primary" type="submit">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>