@using Seratio.Blockchain.Sandbox.Core.Utilities
@{
    ViewBag.Title = "Dashboard";
}
@section JavaScript{
    <script type="text/javascript">$(document).ready(function () { WebApp.Core.HighlightCurrentMenuItem('Dashboard') });</script>
}
@section Breadcrumbs{
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><span>Dashboard</span></li>
    </ul>
}
@section CSS
{
    <style>
        .alert-info {
            color: #bce8f1;
            background: #004250 none repeat scroll 0 0;
        }

        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            border-radius: 4px;
        }

        .alert-info .alert-link {
            color: #245269;
        }

        .alert .alert-link {
            font-weight: 700;
        }
    </style>
}

<div class="content-box" style="padding-bottom: 0 !important">
    <div class="row">
        <div class="col-lg-12">

            <div class="alert alert-info">
                <strong>Attention!</strong> Did you have problems downloading your wallet files? You can request a new Seratio wallet by <a href="/wallet/keys/resetwallet" class="alert-link confirm" data-confirm="This will unbind your current Seratio Wallet and generate a new wallet. All your assets from the old Seratio Wallet will be lost. Do you want to proceed?">clicking here</a>.
            </div>

            <noscript>
                <div class="alert alert-info">
                    <strong>Attention!</strong> For full functionality of this site it is necessary to enable JavaScript. Here are the <a class="alert-link" href="https://www.enable-javascript.com/" target="_blank">instructions how to enable JavaScript in your web browser</a>.
                </div>
            </noscript>
        </div>
    </div>
</div>

<div class="content-box">
    <div class="row">
        <div class="col-lg-12">
            <div class="element-wrapper">
                <div class="element-box">
                    <h5 class="element-header">Recent Wallet Transactions</h5>
                    <div class="heading-elements">
                    </div>
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Tx. ID
                                            </th>
                                            <th>
                                                Time
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                            <th>Status</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            List<WalletTransaction> _transactions = ViewBag.Transactions;
                                            if (_transactions != null && _transactions.Any())
                                            {
                                                foreach (WalletTransaction _item in _transactions)
                                                {
                                                    <tr>
                                                        <td>
                                                            <a href="/wallet/wallets/seratiowallet/details/@_item.ID">
                                                                @_item.TransactionHash.Remove(30)...
                                                            </a>
                                                        </td>
                                                        <td>@_item.Time.ToString()</td>
                                                        <td>
                                                            @if (AppManager.User.ID == _item.UserID)
                                                            {
                                                                <span class='label bg-grey-300'>Out</span>
                                                                @($"{_item.Amount.CarefullyTrim()} {_item.Coin.Symbol}")

                                                            }
                                                            else
                                                            {
                                                                <span class="label bg-success">IN</span>
                                                                @($"{_item.Amount.CarefullyTrim()} {_item.Coin.Symbol}")

                                                            }

                                                        </td>
                                                        <td>
                                                            @{
                                                                if (string.IsNullOrEmpty(_item.BlockHash) && _item.BlockHash != "Failed")
                                                                {
                                                                    <span class="label bg-grey-300">Pending</span>
                                                                }
                                                                else if (_item.BlockHash == "Failed")
                                                                {
                                                                    <span class='label bg-danger tooltipster' title='This transaction has failed due to congestion in the Ethereum Network.'>Failed</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="label bg-success">Confirmed</span>
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="4" style="text-align: center">No Data Available</td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-box">
    <div class="row">
        <div class="col-lg-12">
            <div class="element-wrapper">
                <div class="element-box">
                    <h5 class="element-header">Recent S/E Requests</h5>
                    <div class="heading-elements">
                    </div>
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Sender
                                            </th>
                                            <th>
                                                Receiver
                                            </th>

                                            <th>
                                                Sent On
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                            <th align="center">
                                                Options
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            List<Request> _requests = ViewBag.Requests;

                                            if (_requests != null && _requests.Any())
                                            {
                                                foreach (Request _item in _requests)
                                                {
                                                    User _receiver = AppManager.db.Users.FirstOrDefault(u => u.Email == _item.Recipient);
                                                    if (_receiver != null)
                                                    {
                                                        <tr>
                                                            <td>@_item.User.Email</td>
                                                            <td>@_receiver.Email</td>

                                                            <td>@_item.SentOn.ToString()</td>

                                                            @{

                                                                switch (_item.Status)
                                                                {
                                                                    case "Pending":
                                                                        <td><span class="label bg-grey-300">Pending</span></td>
                                                                        break;
                                                                    case "Rejected":
                                                                        <td><span class="label bg-danger">Rejected</span></td>
                                                                        break;
                                                                    case "Approved":
                                                                        <td><span class="label bg-success">Approved</span></td>
                                                                        break;
                                                                }
                                                            }

                                                            @{
                                                                if (_receiver.Email.ToLower() == AppManager.User.Email.ToLower() && _item.Status == "Pending")
                                                                {
                                                                    <td>
                                                                        <div>
                                                                            <a href="/wallet/se/requests/approve/@_item.ID" class="confirm mr5" data-confirm="Are you sure you want to approve this Request?" title="Approve">Approve @*<i class="fa fa-thumbs-up"></i>*@ </a>|
                                                                            <a href="/wallet/se/requests/reject/@_item.ID" class="confirm mr5" data-confirm="Are you sure you want to reject this Request?" title="Reject">Reject @*<i class="fa fa-thumbs-down"></i>*@ </a>
                                                                        </div>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>N/A</td>
                                                                }
                                                            }

                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td colspan="3" style="text-align: center">No Data Available</td>
                                                        </tr>
                                                    }


                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="5" style="text-align: center">No Data Available</td>
                                                </tr>
                                            }

                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
