@model Coin

@{
    ViewBag.Title = "Edit MCR Category";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section JavaScript{
    <script type="text/javascript">$(document).ready(function () { WebApp.Core.HighlightCurrentMenuItem('MCR Categories') });</script>
    <script src="/wallet/scripts/jquery.validate.unobtrusive.min.js"></script>
}

@section Breadcrumbs{
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/wallet/default/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/wallet/admin/mcrcategories">MCR Categories</a></li>
        <li class="breadcrumb-item"><span>Edit MCR Category</span></li>
    </ul>
}

<div class="content-box">
    <div class="row">
        <div class="col-lg-12">
            <div class="element-wrapper">
                <div class="element-box">
                    <form method="post" class="form-horizontal" action="" enctype="multipart/form-data">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                        <h5 class="element-header">Edit MCR Category</h5>
                        <div class="heading-elements">
                            <a href="/wallet/admin/mcrcategories"><i class="fa fa-plus-square"></i><span>MCR Categories</span></a>
                        </div>
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(model => model.Name):</label>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "Please enter the Name", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(model => model.Symbol):</label>
                            @Html.EditorFor(model => model.Symbol, new { htmlAttributes = new { @placeholder = "Please enter the Symbol", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Symbol, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group">
                            <label>@Html.DisplayNameFor(model => model.Image):</label>
                            <input type="file" name="Image" style="width:950px">
                        </div>

                        <div class="form-group">
                            <label style="width:950px">Uploaded Image :</label>

                            @{
                                if (!string.IsNullOrEmpty(Model.Image))
                                {
                                    string path = System.Web.HttpContext.Current.Server.MapPath(@"~/Uploads/" + (Model.Image));
                                    FileInfo file = new FileInfo(path);

                                    <a href="~/Uploads/@Model.Image" target="_blank"><img src="~/Uploads/@Model.Image" style="height: 150px; margin-top: 15px; width: 160px;" /></a>
                                    <input type="hidden" value="@Model.Image" name="Image" />
                                }
                            }

                        </div>

                        <div class="form-group">
                            <label>@Html.DisplayNameFor(model => model.Description):</label>
                            @Html.TextAreaFor(model => model.Description, new { @placeholder = "Please enter the Description", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-buttons-w text-right">
                            <a href="/wallet/admin/mcrcategories/edit/@Model.ID" class="btn btn-default">Reset</a>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
